# Game
Lethal Company_Data/
MonoBleedingEdge/
Lethal Company.exe
nvngx_dlss.dll
NVUnityPlugin.dll
UnityCrashHandler64.exe
UnityPlayer.dll

# Mods
_download/
_state/
BepInEx/cache/
BepInEx/plugins/**/README.md
BepInEx/plugins/**/CHANGELOG.md
BepInEx/plugins/**/LICENSE
BepInEx/plugins/**/icon.png
BepInEx/plugins/**/*.lethalbundle
mods.yml
BepInEx/LogOutput.log
*.mcskin
