# Game
Lethal Company_Data/
MonoBleedingEdge/
Lethal Company.exe
nvngx_dlss.dll
NVUnityPlugin.dll
UnityCrashHandler64.exe
UnityPlayer.dll

# General mod files
_download/
_state/
BepInEx/cache/
BepInEx/plugins/**/README.md
BepInEx/plugins/**/CHANGELOG.md
BepInEx/plugins/**/LICENSE
BepInEx/plugins/**/icon.png
BepInEx/LogOutput.log
mods.yml

# Specific mod files
BepInEx/plugins/MMHOOK/
BepInEx/plugins/Piggy-LC_Office/lcoffice
BepInEx/plugins/Major_And_Skiz-MoreInteriors/MoreInteriorsDunGen.dll
BepInEx/plugins/Major_And_Skiz-MoreInteriors/moreinterior_dungen

# Dev mods
BepInEx/config/LethalCompanyMinimap.cfg
BepInEx/plugins/Alejo47-InfiniteMoney/*
BepInEx/plugins/Tyzeron-Minimap/*
