## Settings file was created by plugin DissonanceVoiceSettings v1.1.0
## Plugin GUID: DissonanceVoiceSettings

[Codec]

## Controls how much audio is packed into a single network packet. Smaller frames reduce recording latency but send more packets over the network per second, which consumes more network data and slightly more CPU power. The exact frame size at each setting is: Tiny = 10ms (100 packets/s), Small = 20ms (50 packets/s), Medium = 40ms (25 packets/s), Large = 60ms (16.6 packets/second).
# Setting type: FrameSize
# Default value: Small
# Acceptable values: Small, Medium, Large, Tiny
FrameSize = Medium

## Controls how many bits-per-second (on average) the audio codec will use to encode audio. Higher bitrates sound better but use more network data and slightly more CPU power.
# Setting type: AudioQuality
# Default value: Medium
# Acceptable values: Low, Medium, High
Quality = Medium

