## Settings file was created by plugin DiscountAlert v3.0.0
## Plugin GUID: grayray75.DiscountAlert

[1. Alert]

## Number of seconds to wait after lever is pulled before showing the alert
# Setting type: Int32
# Default value: 4
AlterDelay = 5

## Show alert when there are no discounts
# Setting type: Boolean
# Default value: true
AlertWhenNoDiscounts = false

## Alert title text
# Setting type: String
# Default value: Today\'s discounts:
TitleText = Todays discounts:

## Alert text when there are no discounts
# Setting type: String
# Default value: None :( \n Check back tomorrow!
NoDiscountText = None :(\nCheck back tomorrow!

[2. Colors]

## Enable or disable text colors
# Setting type: Boolean
# Default value: true
ColorsEnabled = true

## Text color when the price goes up (currently only possible with other mods)
# Setting type: String
# Default value: #990000
PriceUpColor = #990000

## Text color when the price goes down
# Setting type: String
# Default value: #008000
PriceDownColor = #008000

## Text color for the alert's title
# Setting type: String
# Default value: 
TitleColor = 

## Text color when there are no discounts
# Setting type: String
# Default value: 
NoDiscountColor = 

