## Settings file was created by plugin Furniture Pack v1.0.0
## Plugin GUID: MelanieMelicious.FurniturePack

[Fire Exit]

## Toggle buyable fire exit.
# Setting type: Boolean
# Default value: true
FireExitEnabled = true

## Toggle fire exit mode. 0 for both enter and exit, 1 for only enter, 2 for only exit.
# Setting type: Int32
# Default value: 0
FireExitMode = 0

## Modify the price for the fire exit.
# Setting type: Int32
# Default value: 2000
FireExitCost = 2000

[Large Trees]

# Setting type: Boolean
# Default value: true
LargeTreeEnabled = false

## Modify the price for large trees.
# Setting type: Int32
# Default value: 250
LargeTreeCost = 250

## Modify the percent chance for beehives to fall out of buyable trees.
# Setting type: Int32
# Default value: 2
BeehiveChance = 2

[Prices]

## Modify the price for Workshop 1.
# Setting type: Int32
# Default value: 100
WorkshopCost = 100

## Modify the price for Work Table 1.
# Setting type: Int32
# Default value: 60
WorkTableCost = 60

## Modify the price for Wide Cabinet.
# Setting type: Int32
# Default value: 50
WideCabinetCost = 50

## Modify the price for the twin bed.
# Setting type: Int32
# Default value: 150
TwinBedCost = 150

## Modify the price for bench tables.
# Setting type: Int32
# Default value: 70
BenchTableCost = 70

## Modify the price for ferns.
# Setting type: Int32
# Default value: 40
FernCost = 40

[Store]

## Toggle if furniture is always in stock, or put into rotation.
# Setting type: Boolean
# Default value: false
AlwaysInStock = false

[Walls]

## Toggle buyable walls.
# Setting type: Boolean
# Default value: false
EnableWalls = false

## Modify the price for the gates.
# Setting type: Int32
# Default value: 50
GateCost = 50

## Modify the price for the doors.
# Setting type: Int32
# Default value: 50
DoorCost = 50

## Modify the price for the walls.
# Setting type: Int32
# Default value: 35
WallCost = 35

