## Settings file was created by plugin WeatherGains v1.0.0
## Plugin GUID: robuxtrex.weathergains

[General]

## Whether the scrap value multiplier is enabled.
# Setting type: Boolean
# Default value: true
Value Multiplier Enabled = true

## Whether the scrap amount multiplier is enabled.
# Setting type: Boolean
# Default value: true
Amount Multiplier Enabled = false

## Whether the Apparatus value multiplier is enabled.
# Setting type: Boolean
# Default value: true
Apparatus Multiplier Enabled = true

[Multipliers]

## Scrap value multiplier during foggy weather on a moon. Set to 1 for no change.
# Setting type: Single
# Default value: 1.2
FogValueMultiplier = 1.2

## Scrap amount multiplier during foggy weather on a moon. Set to 1 for no change.
# Setting type: Single
# Default value: 1.1
FogAmountMultiplier = 1.1

## Scrap value multiplier during rain weather on a moon. Set to 1 for no change.
# Setting type: Single
# Default value: 1.2
RainValueMultiplier = 1.2

## Scrap amount multiplier during rain weather on a moon. Set to 1 for no change.
# Setting type: Single
# Default value: 1.1
RainAmountMultiplier = 1.1

## Scrap value multiplier during clear/no weather on a moon. Set to 1 for no change.
# Setting type: Single
# Default value: 1
ClearValueMultiplier = 1

## Scrap amount multiplier during clear/no weather on a moon. Set to 1 for no change.
# Setting type: Single
# Default value: 1
ClearAmountMultiplier = 1

## Scrap value multiplier during floods on a moon. Set to 1 for no change.
# Setting type: Single
# Default value: 1.5
FloodValueMultiplier = 1.6

## Scrap amount multiplier during floods on a moon. Set to 1 for no change.
# Setting type: Single
# Default value: 1.25
FloodAmountMultiplier = 1.25

## Scrap value multiplier during storms on a moon. Set to 1 for no change.
# Setting type: Single
# Default value: 1.55
StormValueMultiplier = 1.5

## Scrap amount multiplier during storms on a moon. Set to 1 for no change.
# Setting type: Single
# Default value: 1.3
StormAmountMultiplier = 1.3

## Scrap value multiplier during eclipsed weather on a moon. Set to 1 for no change.
# Setting type: Single
# Default value: 2.1
EclipsedValueMultiplier = 2

## Scrap amount multiplier during eclipsed weather on a moon. Set to 1 for no change.
# Setting type: Single
# Default value: 1.4
EclipsedAmountMultiplier = 1.4

